body {
    background-color: rgb(255, 200, 133);
}
h1 {
    text-align: center;
}
.toEat {
    float: left;
    display: inline; 
    width: 400px;
    height: 500px;
    padding: 5px;
    border: 1px solid blue;
    background-color: burlywood;
}

.devoured {
    display: inline; 
    width: 400px;
    height: 500px;
    padding: 5px;
    border: 1px solid blue;
    background-color: burlywood;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  